@import "helpers/stylings/_index";

.expandImg {
  width: 100vw;
}

.shortImg {
  width: 70vw;
}

.wrapper {
  @include align-center;
  background-color: #242a43;
  height: 100vh;
  position: relative;
  transition: 1s ease-in-out;

  .imgHide {
    height: 0;
    opacity: 0;
    transition: 1.3s ease-in-out;
    width: 0;
  }

  .imgDisplay {
    height: 100%;
    opacity: 1;
    transition: 1.3s ease-in-out;
    width: 100%;
  }

  .arrowBtn {
    @include align-center;
    cursor: pointer;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    transition: 0.3s ease-in-out;
    z-index: 1;

    &:hover {
      opacity: 1;
      transition: 0.3s ease-in-out;
    }

    img {
      filter: invert(1);
      height: 60px;
      width: 60px;
    }
  }

  .arrowLeft {
    left: 0;
    img {
      transform: scale(-1);
    }
    &:hover {
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6)
      );
    }
  }

  .arrowRightContainerFixed {
    @media (max-width: 1000px) {
      right: 300px;
    }
    right: 30vw;
  }

  .arrowRightContainerFlex {
    right: 0;
  }

  .arrowRightContainer {
    height: 100vh;
    position: fixed;
    top: 0;
    transition: 1s ease-in-out;
    width: 60px;
    z-index: 1;
  }

  .arrowRight {
    &:hover {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6)
      );
    }
  }

  .menuPadding {
    @media (max-width: 1000px) {
      right: 310px;
    }
    right: 31vw;
  }

  .menuUnpadding {
    right: 1vw;
  }

  .menuToggle {
    @include align-center;
    height: 45px;
    opacity: 1;
    position: fixed;
    top: 20px;
    transition: 1s ease-in-out;
    width: 45px;
    z-index: 1;

    .burgerMenu > span {
      background: #ffffff;
      border-radius: 3px;
      box-shadow: 0px 3px 8px 2px #000000;
      cursor: pointer;
      display: block;
      height: 5px;
      margin-bottom: 2px;
      transition: 0.75s ease-in-out;
      width: 30px;
    }

    .closeMenu {
      cursor: pointer;
      height: 25px;

      & > span {
        background: #ffffff;
        border-radius: 3px;
        box-shadow: 0px 0px 8px 2px #000000;
        display: block;
        height: 5px;
        transition: 0.75s ease-in-out;
        width: 30px;
      }

      & > :first-child {
        transform: rotate(-45deg) translate(-7px, 7px);
      }
      & > :last-child {
        transform: rotate(45deg) translate(4px, 3px);
      }
    }
  }
}
