// TEXT COLOR
$themeColor: #00b781;
$themeColorBG: #007d58;
$textDefault: #4a4a4a;
$textDefaultHover: #5fcbff;
$textSubTitle: rgb(170, 170, 170);

// Font Sizes
$fontTitle: 60px;
$fontSubTitle: 30px;
